
/* Globals/Constants */

$deviceWidth: 1024px;
$deviceHeight: 728px;
$customerListHeight: 524px;
$viewTransitionSpeed: 0.3s;

$seatMapContainerHeight: 574px;
$seatMapHeight: 501px;
$seatMapWidth: 712px;

$customerListWidth: 312px;